{% extends 'base.html' %}
{% load static %}
{% block content %}

<form name="form" method="get" action="{% url 'searchdrug' %}" >
    <label for='drugname'>Drug Name:</label>
    <input type="text" name='drugname' id='drugname'>
    <br><br>
    <label for='isopioid'>Is Opioid?:</label>
    <input type="text" name='isopioid' id='isopioid'> 
    <br><br>
    <button type="submit">Search</button>
</form>

<div class = "row">
    <ul>
        {% for drug in query %}
        <li>
           
            <span> Name: <b>{{drug.drugname}}</b></span>
            <span> Is Opioid?: <b>{{drug.isopioid}}</b></span>
        </li>
        {% endfor %}
    </ul>
</div>    
{% endblock%}